:root {
  --glass-blue-200: #64a0e4;
  --glass-blue-300: #bfdbf9;
  --glass-blue-400: #8cbbf0;
  --glass-blue-500: #4288d5;
  --glass-blue-600: #226dc1;

  --glass-purple-200: #796ee7;
  --glass-purple-300: #c9c4fa;
  --glass-purple-400: #9c94f1;
  --glass-purple-500: #5a4dda;
  --glass-purple-600: #3b2dc9;

  --glass-green-200: #59e5ba;
  --glass-green-300: #bbf9e6;
  --glass-green-400: #84f0cf;
  --glass-green-500: #36d6a6;
  --glass-green-600: #14c28e;
}
